.campaign {
  min-height: 40vh;
  padding-top: 8%;
}
.campaign:nth-child(even) {
  background: rgba(67, 4, 4, 0.27);
  color: rgba(204, 235, 255, 0.71);
}
.campaign:nth-child(even) > h1 > a {
  color: rgba(204, 235, 255, 0.71);
}
.campaign:nth-child(odd) {
  background: rgba(62, 29, 77, 0.3);
  color: #ffeded;
}
.campaign:nth-child(odd) > h1 > a {
  color: #ffeded;
}
