<div class="container">
  <button (click)="goBack()" class="btn-back"><i class="glyphicon glyphicon-chevron-left"></i></button>
  <div class="row">
    <div class="col-md-12">
      <div class="password-container  col-md-6 col-md-offset-3">
        <h2 id="title">Register</h2>
        <form class="col-md-8 col-md-offset-2">
          <div class="form-group">
            <label>First Name</label>
            <input [(ngModel)]="registerModel.firstname" name="firstname" class="form-control input" type="text" placeholder="First Name"
            />

          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input [(ngModel)]="registerModel.lastname" name="lastname" class="form-control input" type="text" placeholder="Last Name"
            />
          </div>
          <div class="form-group">
            <label>Username</label>
            <input [(ngModel)]="registerModel.username" name="username" class="form-control input" type="text" placeholder="Username"
            />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input [(ngModel)]="registerModel.email" name="email" class="form-control input" type="text" placeholder="Email" />
          </div>
          <div *ngIf="!!user && user.role === 'admin'" class="form-group">
            <label>Role</label>
            <select [(ngModel)]="registerModel.email" name="role" class="form-control input" type="text">
                <option>client</option>
                <option>admin</option>
              </select>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input [(ngModel)]="registerModel.password" name="password" class="form-control input" type="password" placeholder="Password"
            />
          </div>
          <div class="form-group">
            <label>Repeat Password</label>
            <input [(ngModel)]="check" name="check" class="form-control input" type="password" placeholder="Repeat New Password" />
          </div>
          <div class="form-group">
            <button (click)="submitRegister()" class="form-control btn-submit"><i class="glyphicon glyphicon-ok"></i></button>
          </div>
          <div class="form-group has-error" *ngIf="errors">
            <span class="help-block has-error">{{errors}}</span>
          </div>
          <div class="form-group has-success" *ngIf="success">
            <span class="help-block has-success">{{success}}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>