.password-container {
  background: #0009;
  padding: 40px;
  margin-top: 20vh;
}
.input {
  background: none;
  color: #6cfdf1;
  border: solid 1px #6cfdf1;
  border-radius: 0px;
}

.input:focus {
  color: white;
  border: solid 1px white;
}

.password-container > form > .form-group > label {
  color: white;
}

.btn-submit {
  background: none;
  color: #6cfdf1;
  border: solid 1px #6cfdf1;
}
.btn-submit:hover {
  color: white;
  border: solid 1px white;
}

#title {
  color: #6cfdf1;
}

.btn-back {
  background: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  left: 13px;
  top: 50%;
}
.btn-back:focus {
  outline: 0;
}

.btn-back > i {
  color: #6cfdf1;
  font-size: 77px;
  line-height: 0.5;
}

.btn-back:hover > i {
  color: #678dd4;
}
