<app-sidebar></app-sidebar>
<div class="container">
  <button (click)="goBack()" class="btn-back"><i class="glyphicon glyphicon-chevron-left"></i></button>
  <div class="row">
    <div class="col-md-12">
      <div class="password-container  col-md-6 col-md-offset-3">
        <h2 id="title">Change Password</h2>
        <form class="col-md-8 col-md-offset-2">
          <div class="form-group">
            <label>Old Password</label>
            <input [(ngModel)]="changePasswordForm.oldpassword" name="old" class="form-control input" type="password" placeholder="Original Password"
            />

          </div>
          <div class="form-group">
            <label>Enter New Password</label>
            <input [(ngModel)]="changePasswordForm.newpassword" name="new" class="form-control input" type="password" placeholder="New Password"
            />
          </div>
          <div class="form-group">
            <label>Repeat Password</label>
            <input [(ngModel)]="changePasswordForm.check" name="check" class="form-control input" type="password" placeholder="Repeat New Password"
            />
          </div>
          <div class="form-group">
            <button (click)="submitPasswordChange()" class="form-control btn-submit"><i class="glyphicon glyphicon-ok"></i></button>
          </div>
          <div class="form-group has-error" *ngIf="errors">
            <span class="help-block has-error">{{errors}}</span>
          </div>
          <div class="form-group has-success" *ngIf="success">
            <span class="help-block has-success">{{success}}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
