<app-sidebar></app-sidebar>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 form-container">
      <h1>Create Source</h1>
      <button (click)="cancel()" class="btn-cancel"><i class="glyphicon glyphicon-remove"></i></button>
      <hr />
      <div class="col-md-8 col-md-offset-2">
        <form>
          <div class="form-group">
            <input class="form-control input" [(ngModel)]="name" name="name" placeholder="Enter New Source Name" />
          </div>
          <div class="form-group">
            <button (click)="create()" class="form-control btn-submit"><i class="glyphicon glyphicon-plus"></i></button>
          </div>



          <div *ngIf="errors" class="form-group has-error">
            <span class="help-block">{{errors}}</span>
          </div>
          <div *ngIf="success" class="form-group has-success">
            <span class="help-block">{{success}}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>